<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <form method = "POST" action="{{ url_for('home') }}">
      <textarea id= "api_key" name="api_key" rows="1" cols="50">Enter your key here</textarea>
      <label for="values">Choose an Author:</label>
      <select id="values" name="author">
        <option value="">--Please choose an author--</option>
        {% for author in authors %}
          <option value="{{ author }}">{{ author }}</option>
        {% endfor %}
      </select>

      <br><br>

      <label for="my-textarea">Enter your text here:</label>
      <br>
      <textarea id="my-textarea" name="text" rows="10" cols="50"></textarea>
      <br>
      <button type="submit">Generate Response</button>
  </form>

  
    <script src="{{ url_for('static', filename='values.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>
